:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE4;
    --background-color-main: white;
    --background-color-dark: #2E2F42;
    --background-color-cloud: #F4F4FD;
    --link-color-change: #404bbf;
body {
    background-color: white;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-family: "Roboto", sans-serif;

}
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.second-part {
    color: var(--title-text-color);
    z-index: 1;
}

.first-part::after {
    content: attr(data-text);
    color: var(--primary-text-color);
    z-index: -1;
}

.logo.link {
text-decoration: none;
}

.logo:hover {
    color: var(--accent-color);
}

ul {
    list-style: none;
}
list{
    list-style: none;
    font-family: Roboto sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.list .link {
    color: var(--title-text-color);
    text-decoration: none;
}
.list .link:hover,
.list .link:focus {
    color: var(--link-color-change);
}
.list .link.current {
    color:var(--link-color-change)
}
.list .first-page {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.link {
    text-decoration: none;
}

.address {
    font-style: normal;
    font-family: Roboto sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address .email,
.address .telephone-num {
    color: var(--primary-text-color);
}
.address .email:hover,
.address .telephone-num:hover {
    color: var(--link-color-change);
}

.headline {
    background-color: var(--background-color-dark);
}

h1 {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}
.button {
    color: white;
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: var(--link-color-change);
}

.adv-title {
    visibility: hidden;
}
.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
h3 {
    color: var(--title-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.section-team {
    background-color: var(--background-color-cloud);
}
.section-title-team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: var(--background-color-dark)
}

.list-img {
    background: #ffffff;
}

.list-text {
    font-size: 16px
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

footer {
    background-color: var(--background-color-dark);
}
.footer-second-part {
    color: var(--background-color-cloud);
    z-index: 1;
}

footer>p {
    color: var(--background-color-cloud);
}

.slogan {
    line-height: 1.5
    letter-spacing: 0.02em
}

/* Page Portfolio*/

.button-portfolio {
    color: var(--accent-color);
    background-color: var(--background-color-cloud);
    font-weight: 500;
    letter-spacing: 0.64px;
    text-align: center;

}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--title-text-color);
}

.button-portfolio.all {
    color: var(--accent-color);
    background-color: var(--background-color-cloud);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button-portfolio.all:hover,
.button-portfolio.all:focus {
    color: white;
}

.link-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--background-color-dark);

}