:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE4;
    --background-color-main: white;
    --background-color-dark: #2E2F42;
    --background-color-cloud: #F4F4FD;
}
main {
    background-color: var(--background-color-main);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.logo {
    position: relative;
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.first-part {
    color: var(--accent-color);
    margin-right: -0.2em;
}

.second-part {
    color: var(--primary-text-color);
    position: relative;
    z-index: 1;
}

.first-part::after {
    content: attr(data-text);
    color: var(--primary-text-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo:hover {
    color: var(--accent-color);
}

ul {
    list-style: none;
}
.site-nav {
    font-family: Roboto sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color:var(--accent-color)
}

.address {
    font-family: Roboto sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address .email,
.address .telephone-num {
    color: var(--primary-text-color);
}
.address .email:hover,
.address .telephone-num:hover {
    color: var(--accent-color);
}

.headline {
    background-color: var(--background-color-dark);
}

h1 {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}
.button {
    color: white;
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.list-adv-title {
    visibility: hidden;
}
.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
h3 {
    color: var(--title-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.section-team {
    background-color: var(--background-color-cloud);
}
.section-title-team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

footer {
    background-color: var(--background-color-dark);
}
.footer-second-part {
    color: var(--background-color-cloud);
    position: relative;
    z-index: 1;
}

footer>p {
    color: var(--background-color-cloud);
}

/* Page Portfolio*/

.button-portfolio {
    color: var(--accent-color);
    background-color: var(--background-color-cloud);
    font-weight: 500;
    letter-spacing: 0.64px;
    text-align: center;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--title-text-color);
}

.button-portfolio.all {
    color: var(--background-color-main);
    background-color: #404BBF;
    
}

.button-portfolio.all:hover,
.button-portfolio.all:focus {
    color: var(--title-text-color);
}